.card-header:first-child {
    font-family: fantasy !important;
}

.card-title {
    background-color: aliceblue !important;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    font-family: cursive;
    padding-left: 2%;
}