<!-- <satyas-dateviewer></satyas-dateviewer> -->

<satyas-projection>
    <div class="header">
        <h6>Host Header</h6>
    </div>

    <div class="title">
        <h6>Host Title</h6>

    </div>

    <div class="body">
        <h6>Host Body</h6>
    </div>
    <div class="footer">
        <!-- <satyas-dateviewer></satyas-dateviewer> -->
        <h6>Host Footer</h6>
        <satyas-dateviewer></satyas-dateviewer>
        <!-- Content child is , accessing the above Date viewer component from the projection component -->
    </div>
</satyas-projection>