<nav id="sidebar">
    <div class="sidebar-header">
        <h3>SatyaS</h3>
        <img class="photo-style" [src]="socialUser?.photoUrl">
        <strong>SN</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a routerLinkActive="active" [routerLink]="['/']">
                <i class="fa fa-briefcase"></i> Home
            </a>
        </li>
        <li>
            <!-- <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-home"></i> Components
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu" *ngIf="isUserLogged">
                <li>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/event-listing']">Event Listing</a>
                </li>
            </ul> -->
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-copy"></i> Pages
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu" *ngIf="isUserLogged">
                <li>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/event-listing']">Event Listing</a>
                </li>
                <!-- <li>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/event-booking']">Event Booking</a>
                </li> -->
            </ul>
        </li>
    </ul>
</nav>