<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Satyanarayana</h3>
        <strong>SN</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-home"></i> Home
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/event-listing']">Event Listing</a>
                </li>
                <li>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/event-booking']">Event Booking</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-briefcase"></i> About
            </a>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-copy"></i> Pages
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/event-listing']">Event Listing</a>
                </li>
                <li>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/event-booking']">Event Listing</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>