<div class='container main-content'>
    <div class="card">
        <div class="card-header">
            {{pageTitle}}
        </div>

        <div class="card-body">
            <form class="needs-validation" novalidate [formGroup]="loginForm" autocomplete="dddddnope">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="userNameId">User Name</label>
                        <div class="col-md-8">
                            <input class="form-control" id="userName" type="text" placeholder="Enter 'your name'" formControlName="userName" [ngClass]="{'is-invalid': (loginForm.get('userName').touched ||
                            loginForm.get('userName').dirty) &&
                            !loginForm.get('userName').valid }" />
                            <span class="invalid-feedback">
                                <satyas-error-message [control]="loginForm.get('userName')"></satyas-error-message>
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="passwordId">Password</label>
                        <div class="col-md-8">
                            <input class="form-control" formControlName="userPwd" [ngClass]="{'is-invalid': (loginForm.get('userPwd').touched ||
                            loginForm.get('userPwd').dirty) &&
                            !loginForm.get('userPwd').valid }" id="passwordId" type="password" placeholder="Type 'test'" />
                            <span class="invalid-feedback">
                                <satyas-error-message [control]="loginForm.get('userPwd')"></satyas-error-message>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <span>
                                <button class="btn btn-primary" type="submit" style="width:80px;margin-right:10px"
                                    (click)="login()" [title]="'Enter valid data'" [disabled]="loginForm.invalid" >
                                    Log In
                                </button>


                            </span>
                            <span>
                                <a class="btn btn-light" (click)="cancel()">
                                    Cancel
                                </a>
                            </span>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div style="text-align: right;">
                <button class="btn btn-primary" type="submit" (click)="signInWithGoogle()">
                    Sign In With Google
                </button>
            </div>
        </div>
    </div>
</div>