<div class='container main-content'>
    <div class="card">
        <div class="card-header">
            {{pageTitle}}
        </div>

        <div class="card-body">
            <form class="needs-validation" novalidate [formGroup]="loginForm" autocomplete="nope">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="userNameId">User Name</label>
                        <div class="col-md-8">
                            <input class="form-control" id="userName" type="text" placeholder="Enter 'your name'" formControlName="userName" [ngClass]="{'is-invalid': (loginForm.get('userName').touched ||
                            loginForm.get('userName').dirty) &&
                            !loginForm.get('userName').valid }" />
                            <span class="invalid-feedback">
                                <satyas-error-message [control]="loginForm.get('userName')"></satyas-error-message>
                            </span>
                        </div>
                    </div>
                    <div formGroupName="emailGroup">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label" for="userEmail">Email</label>
                            <div class="col-md-8">
                                <input class="form-control" id="userEmail" type="password" placeholder="Enter your email" formControlName="userEmail" [ngClass]="{'is-invalid': (loginForm.get('emailGroup.userEmail').touched ||
                            loginForm.get('emailGroup.userEmail').dirty) &&
                            !loginForm.get('emailGroup.userEmail').valid }" />
                                <span class="invalid-feedback">
                                    <satyas-error-message [control]="loginForm.get('emailGroup.userEmail')"></satyas-error-message>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 col-form-label" for="userConfirmEmail">Confirm Email</label>
                            <div class="col-md-8">
                                <input class="form-control" id="userConfirmEmail" type="text" placeholder="Enter your confirm email" formControlName="userConfirmEmail" [ngClass]="{'is-invalid': (loginForm.get('emailGroup').errors) || ((loginForm.get('emailGroup.userConfirmEmail').touched ||
                            loginForm.get('emailGroup.userConfirmEmail').dirty) &&
                            !loginForm.get('emailGroup.userConfirmEmail').valid) }" />
                                <span class="invalid-feedback">
                                    <satyas-error-message [control]="loginForm.get('emailGroup')">
                                    </satyas-error-message>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="passwordId">Password</label>
                        <div class="col-md-8">
                            <input class="form-control" formControlName="userPwd" [ngClass]="{'is-invalid': (loginForm.get('userPwd').touched ||
                            loginForm.get('userPwd').dirty) &&
                            !loginForm.get('userPwd').valid }" id="passwordId" type="password" placeholder="Enter password (required)" />
                            <span class="invalid-feedback">
                                <satyas-error-message [control]="loginForm.get('userPwd')"></satyas-error-message>
                            </span>
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="userConfirmPwd">Confirm Password</label>
                        <div class="col-md-8">
                            <input class="form-control" formControlName="userConfirmPwd" [ngClass]="{'is-invalid': (loginForm.get('userConfirmPwd').touched ||
                            loginForm.get('userConfirmPwd').dirty) &&
                            !loginForm.get('userConfirmPwd').valid }" id="passwordId" type="password" placeholder="Enter confirm password (required)" />
                            <span class="invalid-feedback">
                                <satyas-error-message [control]="loginForm.get('userConfirmPwd')">
                                </satyas-error-message>
                            </span>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">

                            <button class="btn btn-primary" style="float: left;" type="submit" (click)="registration()" [title]="'Enter valid data'" [disabled]="loginForm.invalid">
                                Register
                            </button>


                            <button class="btn btn-danger" style="float: right;" type="submit" (click)="cancel()">
                                Cancel
                            </button>


                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
        </div>
    </div>
</div>