<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button (click)="toggleMenu()" type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fa fa-align-left"></i>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-align-justify"></i>
        </button>

        <div class="timer-align">
            <p>{{dateTime | date:'medium'}}</p>
        </div>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <select class="form-control" (change)='onSelected($event.target.value)'>
                    <option disabled selected value=''>Select Theme</option>
                    <option *ngFor='let theme of themes' [value]='theme'>{{theme}}</option>
                </select>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item" *ngIf="isUserLogged">
                <a class="nav-link">Welcome <strong>{{userName}}</strong></a>
            </li>
            <li class="nav-item" *ngIf="!isUserLogged">
                <a class="nav-link" routerLink='/login'>Log In</a>
            </li>
            <li class="nav-item" *ngIf="isUserLogged">
                <a class="nav-link" (click)="logOut()" style="cursor: pointer">Log Out</a>
            </li>
        </ul>

        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/event-listing']">Event Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/event-booking']">Event Booking</a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>