<h6>Hey Satya , drag and pull the top edge of the rectangle</h6>
<!-- <div class="rectangle" [ngStyle]="satyaStyle" mwlResizable [validateResize]="validate" [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event)">
    <div class="resize-handle-top" mwlResizeHandle [resizeEdges]="{ top: true }"></div> -->

<div class="card bg-light  rectangle" [ngStyle]="satyaStyle" mwlResizable [validateResize]="validate" [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event)">
    <div class="resize-handle-top" mwlResizeHandle [resizeEdges]="{ top: true }"></div>
    <div class="card-header">
        Sample Data
    </div>
    <div class="card-body">
        <div *ngIf="courseRegistration$ | async as courseRegistration">
            <div *ngFor="let registration of courseRegistration">
                {{registration.studentId}} - {{registration.studentName}}
            </div>

        </div>
    </div>
</div>
<!-- </div> -->