/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
:root {
    /* Colors */
    --foreground-default: #08090a;
    --foreground-secondary: #41474d;
    --foreground-tertiary: #797c80;
    --foreground-quaternary: #f4faff;
    --foreground-light: #41474d;
    --background-default: #f4faff;
    --background-secondary: #a3b9cc;
    --background-tertiary: #5c7d99;
    --background-light: #ffffff;
    --primary-default: #5dfdcb;
    --primary-dark: #24b286;
    --primary-light: #b2ffe7;
    --error-default: #ef3e36;
    --error-dark: #800600;
    --error-light: #ffcecc;
    /* Shadows */
    --background-tertiary-shadow: 0 1px 3px 0 rgba(92, 125, 153, 0.5);
    /* Fonts */
    --h1-size: 6rem;
    --h1-weight: 400;
    --h1-spacing: -1.5px;
    --h2-size: 3.75rem;
    --h2-weight: 400;
    --h2-spacing: -0.5px;
    --h3-size: 3rem;
    --h3-weight: 400;
    --h3-spacing: -0px;
    --h4-size: 2.125rem;
    --h4-weight: 400;
    --h4-spacing: -0.25px;
    --h5-size: 1.5rem;
    --h5-weight: 400;
    --h5-spacing: -0px;
    --h6-size: 1.25rem;
    --h6-weight: 700;
    --h6-spacing: -0.15px;
    --s1-size: 1rem;
    --s1-weight: 400;
    --s1-spacing: 0.15px;
    --s2-size: 0.875rem;
    --s2-weight: 700;
    --s2-spacing: 0.1px;
    --b1-size: 1rem;
    --b1-weight: 400;
    --b1-spacing: 0.5px;
    --b2-size: 0.875rem;
    --b2-weight: 400;
    --b2-spacing: 0.25px;
    --button-size: 0.875rem;
    --button-weight: 700;
    --button-spacing: 1.25px;
    --caption-size: 0.75rem;
    --caption-weight: 400;
    --caption-spacing: 0.4px;
    --overline-size: 0.625rem;
    --overline-weight: 400;
    --overline-spacing: 1.5px;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

body {
    background: var(--background-default);
}

h1 {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    letter-spacing: var(--h1-spacing);
}

h2 {
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    letter-spacing: var(--h2-spacing);
}

h3 {
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    letter-spacing: var(--h3-spacing);
}

h4 {
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    letter-spacing: var(--h4-spacing);
}

h5 {
    font-size: var(--h5-size);
    font-weight: var(--h5-weight);
    letter-spacing: var(--h5-spacing);
}

h6 {
    font-size: var(--h6-size);
    font-weight: var(--h6-weight);
    letter-spacing: var(--h6-spacing);
}

.s1 {
    font-size: var(--s1-size);
    font-weight: var(--s1-weight);
    letter-spacing: var(--s1-spacing);
}

.s2 {
    font-size: var(--s2-size);
    font-weight: var(--s2-weight);
    letter-spacing: var(--s2-spacing);
}

.b1 {
    font-size: var(--b1-size);
    font-weight: var(--b1-weight);
    letter-spacing: var(--b1-spacing);
}

.b2 {
    font-size: var(--b2-size);
    font-weight: var(--b2-weight);
    letter-spacing: var(--b2-spacing);
}

.button {
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    letter-spacing: var(--button-spacing);
}

.caption {
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    letter-spacing: var(--caption-spacing);
}

.overline {
    font-size: var(--overline-size);
    font-weight: var(--overline-weight);
    letter-spacing: var(--overline-spacing);
}

.secondary-font {
    font-family: "Inconsolata", monospace;
}

// body {
//     font-family: "Poppins", sans-serif;
//     background: #fafafa;
// }
p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i,
span {
    display: inline-block;
}


/* WRAPPER */

#wrapper {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    align-items: stretch;
    perspective: 100%;
}


/* CONTENT */

#content {
    width: 100%;
    padding-top: 0;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    SIDEBAR STYLE 
---------------------------------------------------- */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100%;
    background: #6d7fcc;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
    text-decoration: none;
}

#sidebar ul li a:hover {
    background: #3c4d92;
    color: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #115881ab;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
    color: white;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #010307;
}

a.article,
a.article:hover {
    background: #424242 !important;
    color: #fff !important;
}