.event-data {
    font-size: .8rem;
    font-weight: 300;
    color: #516bf0;
}

.card {
    border-radius: 1.25rem !important;
    margin-bottom: 5px !important;
}

.card-header {
    background-color: rgba(0, 0, 0, 0.01) !important;
}

.fieldset-class {
    margin-top: 5px !important;
}

.btn {
    font-size: .5rem !important;
    line-height: 0.5 !important;
}

.img-thumbnail {
    border-radius: 1.25rem !important;
    border: 5px solid #dee2e6 !important;
    max-height: 75% !important;
    max-width: 100% !important;
}

.booking-button {
    margin-left: 18%;
}